.content {
    max-width: fit-content;
    margin: auto;
    text-align: center;
  }
  
  body {
    background-color: gray;
  }
  
  h1 {
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
  }
  
  h2, label, input {
    font-family: "Lucida Console";
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
  }
  
  a, a:link, a:visited {
    color: orange;
    font-family: "Lucida Console";
    font-size: 20px;
  }
  
  a:hover {
    color:white;
  }
  
  img {
    text-align: center;
  }