body {
  background-color: gray;
}

h1 {
  color: orange;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  text-align: center;
}

p {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 20px;
}