body {
  background-color: gray;
}

h1 {
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  text-align: center;
}

p {
  font-family: "Lucida Console";
  font-size: 20px;
}

a, a:link, a:visited {
  color: orange;
  font-family: "Lucida Console";
  font-size: 20px;
}

a:hover {
  color:white;
}